/* DEFINIÇÃO DA ANIMAÇÃO DE ENTRADA (CSS3) */
@keyframes slide-in{
	from{opacity: 0;}
	to{opacity: 1;}
}


html,body{
}

a, a:link, a:visited{
	color: #777;
	text-decoration: none;
	transition: all 0.1s;
}
a:hover{
	color: #222;
}

hr{
	border: 1px solid rgb(253,244,168);
}

h1{font-size: 2.0em;}
h2{font-size: 1.8em;}
h3{font-size: 1.3em;}
h4{font-size: 1.1em;}

h1,h2,h3,h4{
	font-family: 'Oswald', sans-serif;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #555;
	padding-bottom: 10px;
}

/*********************************** CABEÇALHO, NAVBAR'S */
#topo{
    background: url('../img/campus-full.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    min-height: 100vh; /* a altura do background se adapta ao viewport do usuário */
    position: relative;
    text-align: center;
    /*animation: slide-in 0.5s 0s;*/
}

.header-bloco,
.header-contagem{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    padding: 20px 0px;
}

.header-bloco{
    color: #fff;
    margin-top: 20vh;
    background-color: rgba(0,0,0,0.8);
}

.header-bloco > .row > #info-setac > p{
	padding: 20px;
	border-bottom: 2px solid #333;
}

@media (min-width: 768px){
	.header-bloco > .row > #info-setac > p{
		border-bottom: 0;
    	margin:0;
	}
}

.header-bloco > .row > .col-md-6 > h2.header-titulo{
    text-align: center;
    color: #fff;
    margin:0;
    padding: 5px 0px;
}


.header-contagem{
    color: #fff;
	margin-top: 5vh;
	margin-bottom: 5vh;
    background-color: rgba(0,0,0,0.8);
}

.header-contagem > .row > .col-md-12 > h2,
.header-contagem > .row > .col-md-3 > h2{
    color: #fff;
}

.header-contagem > .row > .col-md-3{
	
}

@media (min-width: 768px){
	.header-contagem > .row > .col-md-3 > p{
		
	}	
}


/* MENU PRINCIPAL */
#nav-fixa{
	background-color: rgba(0,0,0,0.2);
	padding: 5px 0;
	border-bottom: 0;
	transition: all 0.2s;
}

#logo-setac{
	color: rgba(255,255,255,1);
	font-size: 2.5em;
	font-weight: 700;
}


/* ALTERA O FUNDO DO MENU EM MOBILE DEVICES */
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: rgba(255,204,0,1);
	font-weight: 600;
}


#nav-fixa .nav > li.active > a {
	background-color: unset;
}

#nav-fixa .nav > li > a{
	color: rgba(255,255,255,1);
	transition: all 0.2s;
	text-transform: uppercase;
}

#nav-fixa .nav > li > a:hover,
#nav-fixa .nav > li > a:focus{
	color: rgba(255,255,255,1);
	background-color: rgba(225,134,36,.875);
	border-bottom: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(0,0,0,0);
}

@media (min-width: 768px){
	#nav-fixa{
		padding: 20px 0;
		background-color: rgba(0,0,0,0.2);
		box-shadow: 0px 2px 2px rgba(217,175,5,0);
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: rgba(244,204,0,0);
	}

	#nav-fixa .nav > li.active > a {
		color: rgba(225,134,36,.875);
	}

	#nav-fixa .nav > li > a{
		color: rgba(255,255,255,1);
		font-weight: 600;
		background-color: unset;
	}

	#nav-fixa .nav > li > a:hover, 
	#nav-fixa .nav > li > a:focus{
		color: rgba(0,0,0,1); 
		padding-bottom: 15px;
		background-color: unset;
	}
	.logo-setac{
		color: rgba(254,204,0,1);
	}

}


/* DROPDOWN */
.navbar-default .navbar-nav .open .dropdown-menu{
	background-color: rgba(255,255,255,1);
}	

.navbar-header button{color: #fff;}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle{
	background-color: rgba(255,255,255,0.5);
	border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: unset;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-top: 1px solid rgba(255,255,255,0.5);
	color: rgba(255,203,5,1);
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	
}

.dropdown-menu > li{
	color: rgba(55,025,155,0.5);
	text-transform: uppercase;
}

.dropdown-menu > li > a{
	transition: all 0.2s;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #fff;	
	background-color: rgba(234,203,34,1);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #fff;
	text-decoration: none;
}


/* DROPDOWN: ESTILOS PARA DISPOSITIVOS COM RESOLUÇÃO MAIOR QUE 768px */
@media (min-width: 768px){
	.navbar-default .navbar-nav .open .dropdown-menu{
		background-color: rgba(254,204,0,1);
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-top: 0;
		border-bottom: 0;
		border-right: 0;
		border-left: 0;
	}

	.dropdown-menu{
		border: 0px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
				box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
	}

	.dropdown-menu > li{
		color: rgba(234,118,16,0.5);
		text-transform: uppercase;
	}

	.dropdown-menu > li > a{
		font-weight: 600;
		color: rgba(255,255,255,1);
		text-transform: uppercase;
	}

		
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color: #fff;
		background-color: rgba(200,160,0,1);
	}
}

/*********************************** CONTEÚDO */

#conteudo{
	margin-top: 20px;
}

h2.topicos{}

#conteudo a.btn{
	color: #fff;
}

#paginacao{
	margin-top: 0px;
	background-color: rgba(255,247,200,1);
}

#paginacao p{
	padding-top: 20px;
	padding-bottom: 10px;
}

.lateral-box{
	padding: 20px;
	margin-bottom: 10px;
	text-align: justify;
	box-sizing: content-box;
	/*background-color: rgba(254,204,0,0.2);*/
}

.lateral-box h2{
	padding: 0;
	margin: 0 0 10px 0;
}

.lateral-box ul{
	list-style: square;
	margin: 0;
	padding-left: 20px;
}

ul.setac-anterior{
	list-style: none;
}

ul.setac-anterior span,
ul.setac-anterior a{
	color:  #777;
	text-decoration: none;
}
ul.setac-anterior span{padding: 0px;}

ul.setac-anterior li:hover span,
ul.setac-anterior li:hover a{
	color: #222;
}

#destaque{
	text-align: center;
}

#apoio-evento{
	margin-top: 0px;
}

.lista-topicos{
	list-style: square;
	color: #666;
}

/*********************************** PAGINA DE CONTATO */

#conteudo .jumbotron{
	border-bottom: 0px;
	padding: 5px 0px;
	background-color: unset;
	border-radius: 0;
}

.legendas-contato{
	background-color: unset;
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
}

h2.contato-titulo{
	padding: 8px 5px;
}

.contato-recuo{
	padding-top: 5px;
	padding-left: 20px;
}

#formularios-setac input, 
#formularios-setac textarea{
	border-radius: 0;
	border: 1px solid rgb(210,210,210);
	transition: all 0.2s;
}

#formularios-setac input:hover,
#formularios-setac textarea:hover,
#formularios-setac input:focus, 
#formularios-setac textarea:focus{
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	border: 1px solid rgb(188,165,10);
	background-color: rgb(255,255,255);
}

#formularios-setac input[type=file]{
	
}

#formularios-setac input[type=submit],
#formularios-setac input[type=reset]{
	border: 0px solid rgb(188,165,190);
	background-color: rgb(188,165,10);
	color: rgb(255,255,255);
	width: 250px;
}
#formularios-setac input[type=submit]:hover,
#formularios-setac input[type=reset]:hover{
	border: 0px solid rgb(218,217,48);
	background-color: rgb(218,217,48);;
	color: rgb(255,255,255);
}

#formularios-setac textarea{
	resize: none;
	width: 100%;
}

.botoes-comandos{
	float: right;
}

#formularios-setac > .botoes-comandos-contato > input[type=submit],
#formularios-setac > .botoes-comandos-contato > input[type=reset]{
	width: 100%;
}

.botoes-comandos .col-md-2{
	padding: 1px;
}

/*********************************** RODAPÉ */

#rodape{
	padding: 50px 0;
	margin-top: 20px;
	background-color: rgba(254,204,0,1);
	box-shadow: inset 0px 2px 1px rgba(217,175,5,1);
}

#rodape ul{
	list-style: none;
	padding-left: 15px;
}

#rodape ul li{
	margin-bottom: 10px;
}

#rodape a{
	color: #222;
}

#rodape a:hover{
	color: #fff;
}

#rodape p{
	margin: 0;
}

h2.titulo-rodape{
	width: 100%;
	margin: 0;
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,.1);
	border-radius: 10px 0 10px 0;
	font-size: 1.2em;
	text-align: center;
	color: #fff;

}

.logo-utfpr{text-align: right; width: 100%; padding: 20px 0;}

select[readonly], input[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}

#paginacao .ativo {
    background-color: green;
    color: white;
}